* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // background-color: #00b4d8;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .sky {
    height: 80vh;
    background-color: #00b4d8;
    position: relative;
    .play {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: rgba(128, 128, 128, 0.704);
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        cursor: pointer;
      }
    }
    .cloud {
      width: 200vw;
      height: 150px;
      background-image: url(../img/cloud.svg);
      background-size: 50% auto;
      position: absolute;
      left: 0;
      bottom: -40px;
      animation-duration: 8s;
    }
    .pipe {
      height: 100%;
      position: relative;
      left: -90px;
      width: 90px;
      background-color: green;
    }
    .hole {
      background-color: #00b4d8;
      width: 90px;
      position: absolute;
      top: 100px;
      left: 0;
      height: 200px;
      &::after,
      &::before {
        content: "";
        display: block;
        width: 98px;
        height: 40px;
        position: absolute;
        left: -4px;
        background-color: rgb(1, 99, 1);
        border: 1px solid rgb(3, 56, 3);
      }
      &::after {
        top: 100%;
      }
      &::before {
        top: -40px;
      }
    }
    .character {
      width: 60px;
      height: 42px;
      background-image: url(../img/bird.svg);
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .ground {
    width: 200%;
    height: 20vh;
    background-image: url(../img/ground.svg);
    background-repeat: repeat;
    position: relative;
    left: 0;
  }
  @keyframes _move {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  @keyframes pipe_move {
    from {
      left: 100%;
    }
    to {
      left: -90px;
    }
  }
}
.playAnimation {
  animation: 2.5s _move linear infinite;
}
.pipe_move {
  animation: 2.8s pipe_move linear infinite;
}
.displayNone {
  display: none !important;
}
